
#etabanner {
  position : absolute;
  width : 120px;
  left : 6px;
  top : 6px;
  padding : 5px;

  font-size : 18px;
  font-family : Trebuchet MS, Verdana, Sans Serif;
  color : #000;
  text-align : center;
  text-shadow : 0.06em 0.06em #aaa;

  border-radius : 5px;
  -webkit-box-shadow:rgba(20,20,20,1) 0px 0px 5px; 
  box-shadow: 0px 0px 15px #333; 
  white-space : nowrap;

  z-index : 10000;
}

.tall {
  background-color : rgba(255,50,50,100);
  height : 3em;
}

.notenough {
  background-color : rgba(255,50,50,100);
  height : 1.5em;
}

.enough {
  height : 3em;
  background-color : rgba(255,128,0,50);
}
